<div class="page-center small container">
    <h1>Enter grade</h1>
    <div class="ui fluid selection dropdown huge input item">
        <i class="dropdown icon"></i>
        <span class="default text">Assignment</span>
        <div class="menu">
            <div ng-repeat="assignment in assignments" class="item">
                {{assignment.title}}
            </div>
        </div>
    </div>
    <br />
    <div class="ui fluid selection dropdown huge input item">
        <i class="dropdown icon"></i>
        <span class="default text">Student</span>
        <div class="menu">
            <div ng-repeat="student in students" class="item">
                {{student.fName + ' ' + student.lName}}
            </div>
        </div>
    </div>
    <br />
    <div class="ui right labeled fluid massive input ginormous">
        <input type="text" placeholder=""/>
        <label class="ui label">/</label>
    </div>
    <br />
    <div class="ui form">
        <div class="ui massive input fluid field">
            <textarea rows="2" placeholder="Comment"></textarea>
        </div>
    </div>
    <br />
    <div class="ui fluid massive buttons">
        <button class="ui button">CANCEL</button>
        <div class="or"></div>
        <button class="ui teal button">SAVE</button>
    </div>
</div>
<script>
    $('.ui.dropdown')
            .dropdown()
    ;
</script>