<div class="page-center small container">
    <div class="intro">
        <h1>Recover Account | {{project.application}}</h1>
    </div>
    <div class="ui form">
        <div class="field">
            <label for="email">Email</label>
            <input id="email"
                   type="email"
                   class="ui fluid huge input item"
                   ng-model="recovery.email">
        </div>
    </div>
    <br>
    <button class="ui teal huge fluid button">Recover</button>
    <br>
    <p>
        Once you have it figured out, <a href="#login">sign in</a> to {{product.application}}!
    </p>
</div>