//VARIABLES

//Colors
$teal: #008080;
$lightTeal: lighten($teal, 5%);
$gray: #b4b4b4;
$lightGray: lighten($gray, 23%);
$extraLightGray: lighten($lightGray, 5%);
$red: #FF5C5C;

//Measurements
$header-height: 60px;

.teal-text {
  color: $lightTeal !important;
}
.menu-toggle:hover {
  cursor: pointer;
}
.menu.overlay.sidebar {
  z-index: 9;
  font-size: 1.5em;
  .item:hover {
    background: $lightGray;
    .icon {
      color: $lightTeal;
    }
  }
}
.page-center {
  margin-right: auto;
  margin-left: auto;
}
.header {
  background: $lightGray;
  width: 100%;
  height: $header-height;
  .logo {
    font-size: 1.5em !important;
    margin-top: .5em !important;
    * {
      color: $lightTeal !important;
      text-decoration: none !important;
    }
  }
  .ui.text.menu .icon {
    font-size: 1.5em;
  }
}
.ui.text.menu {
  margin-top: 0;
  font-size: 1.5em;
}
.mainz {
  margin-top: 30px;
}
.small.container {
  width: 95%;
  max-width: 500px;
  .field {
    >label {
      text-align: left !important;
      color: $lightTeal;
    }
  }
  .intro {
    text-align: center;
    margin-bottom: 20px;
  }
}
//.fluid.dropdown {
//  width: 100%;
//}
.ui.huge.dropdown {
  .menu {
    .item {
      font-size: inherit;
    }
  }
}
.ui.massive.dropdown {
  .menu {
    .item {
      font-size: inherit;
    }
  }
}
.ginormous {
  font-size: 2.8em !important;
}
.text-right {
  text-align: right;
}
.screen-element {
  font-weight: bold;
}

//HELP FILES AND SUCH
.helpBar {
  background: #ffffff;
  padding: 25px;
  text-align: left;
}
.help-note {
  margin: 5px 0;
  padding: 5px;
  background: $lightGray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-left: 5px solid $lightTeal;
}
.help-warning {
  @extend .help-note;
  background: lighten($red, 30%);
  border-left: 5px solid $red;
}
@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .hidden-lg {
    display: none;
  }
}