<h1>Students</h1>
<p>
    View student information, performance, and progress from one page. Click any student to see more detail.
</p>
<a href="#new-student"><div class="ui teal button">+ New Student</div></a>
<table class="ui unstackable padded single line table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>GPA</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in allStudents.data">
            <td>{{student.lName + ', ' + student.fName}}</td>
            <td>{{student.studentID}}</td>
            <td>{{student.gpa}}</td>
        </tr>
    </tbody>
</table>
