<h1>Students</h1>
<p>
    View student information, performance, and progress from one page. Click any student to see more detail.
</p>
<a href="" onclick="$('#newStudentModal').modal({blurring:true}).modal('show');"><div class="ui teal button">+ New Student</div></a>
<table class="ui unstackable padded single line table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>GPA</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in allStudents.data">
            <td>{{student.lName + ', ' + student.fName}}</td>
            <td>{{student.studentID}}</td>
            <td>{{student.gpa}}</td>
        </tr>
    </tbody>
</table>
<div class="ui small modal" id="newStudentModal">
    <div class="header">New Assignment</div>
    <div class="content" ng-include="'components/students/new-student.html'"></div>
    <div class="actions">
        <div class="ui fluid huge buttons">
            <button class="ui button" onclick="$('#newStudentModal').modal('hide');">CANCEL</button>
            <div class="or"></div>
            <button class="ui teal button" ng-click="postStudent(); getAllObjects();" onclick="$('#newStudentModal').modal('hide');">SAVE</button>
        </div>
    </div>
</div>