<div class="page-center small container" ng-show="quickEntry.subject === ''">
    <h1>Select class</h1>
    <div ng-repeat="subject in subjects">
        <!--<a href="#quick-entry">-->
        <label for="{{subject.name}}-link" class="ui fluid massive button">{{subject.name}}</label>
        <input id="{{subject.name}}-link" type="radio" style="display: none" ng-model="quickEntry.subject" ng-value="subject.name"/>
        <!--</a>-->
        <br />
    </div>
</div>
<div class="page-center small container" ng-show="quickEntry.subject !== ''">
    <h1>Enter {{quickEntry.subject}} grade&nbsp;<small><button ng-click="quickEntry.subject = ''" class="ui mini button">Change Subject</button></small></h1>
    <div class="ui fluid selection dropdown huge input item">
        <i class="dropdown icon"></i>
        <span class="default text">Assignment</span>
        <div class="menu">
            <div ng-repeat="assignment in assignments" ng-if="assignment.subject === quickEntry.subject" class="item">
                {{assignment.title}}
            </div>
        </div>
    </div>
    <br />
    <div class="ui fluid selection dropdown huge input item">
        <i class="dropdown icon"></i>
        <span class="default text">Student</span>
        <div class="menu">
            <div ng-repeat="student in students" class="item">
                {{student.fName + ' ' + student.lName}}
            </div>
        </div>
    </div>
    <br />
    <div class="ui right labeled fluid massive input ginormous">
        <input type="number" placeholder=""/>
        <label class="ui label">/</label>
    </div>
    <br />
    <div class="ui form">
        <div class="ui huge input fluid field">
            <textarea rows="2" placeholder="Comment"></textarea>
        </div>
    </div>
    <br />
    <div class="ui fluid huge buttons">
        <button class="ui button">CANCEL</button>
        <div class="or"></div>
        <button class="ui teal button">SAVE</button>
    </div>
</div>
<script>
    $('.ui.dropdown')
            .dropdown()
    ;
</script>