<div class="page-center small container">
    <div class="intro">
        <h1>Enter grade</h1>
    </div>
    <div class="ui form">
        <div class="field">
            <label for="subject">Subject</label>
            <select id="subject"
                    class="ui fluid selection dropdown huge input item"
                    ng-model="quickEntry.subject"
                    ng-options="subject as subject.name for subject in allSubjects.data">
                <option value="">Select subject</option>
            </select>
        </div>
        <div class="field">
            <label for="assignment">Assignment</label>
                <select id="assignment"
                        class="ui fluid selection dropdown huge input item"
                        ng-model="quickEntry.assignment"
                        ng-options="assignment as assignment.title for assignment in allAssignments.data | filter:assignment.subject = quickEntry.subject.name"
                        ng-change="getAverage(quickEntry.assignment.id)">
                    <option value="">Select assignment</option>
                </select>
        </div>
        <div class="field">
            <label for="student">Student</label>
            <select id="student"
                    class="ui fluid selection dropdown huge input item"
                    ng-model="quickEntry.student"
                    ng-options="student as (student.fName + ' ' + student.lName) for student in allStudents.data">
                <option value="">Select student</option>
            </select>
        </div>
        <div class="field">
            <label for="grade">Grade</label>
            <div id="grade" class="ui right labeled fluid large input ginormous">
                <input type="number" placeholder="" ng-model="quickEntry.data.score"/>
                <label class="ui label">/{{quickEntry.assignment.total}}</label>
            </div>
        </div>
        <div ng-show="quickEntry.data.score > quickEntry.assignment.total" class="help-warning">
            Whoa, nelly! Looks like the number you entered is higher than the total possible. Might want to double-check that...
        </div>
        <div class="ui two column grid">
            <div class="column text-center">
                <div id="gradePercentage" ng-class="(quickEntry.data.percentage >= quickEntryAverage) || quickEntry.data.percentage >= 100 ? 'ui teal statistic' : 'ui yellow statistic'">
                    {{quickEntryPercentage();}}
                    <div class="value">{{quickEntry.data.percentage}}%</div>
                    <div class="label">Student</div>
                </div>
            </div>
            <div class="column text-center">
                <div class="ui statistic">
                    <div class="value">{{quickEntryAverage}}%</div>
                    <div class="label">Class</div>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="comment">Comment</label>
            <div id="comment" class="ui large input fluid field">
                <textarea rows="2" placeholder="Comment"></textarea>
            </div>
        </div>
    </div>
    <br />
    <div class="ui fluid large buttons">
        <button class="ui button" ng-click="clearQuickEntry()">CANCEL</button>
        <div class="or"></div>
        <button class="ui teal button" ng-click="postGrade();getAllObjects()">SAVE</button>
    </div>
</div>